{% extends "index.html" %}

{% block content %}

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>

<script>

    $(function () {
        var people = [];

        $.getJSON('/TopTweets', function (data) {
            $.each(data, function (i, f) {
                var tblRow = "<tr>" + "<td>" + f.name + "</td>" +
                    "<td>" + f.location + "</td>" + "<td>" + f.link + "</td>" + "</tr>"
                $(tblRow).appendTo("#userdata tbody");
            });

        });
        $.getJSON('/TotalNumOfUsers', function (data) {
            
                var card = "<p>" + data +"</p>"
                $(card).appendTo("#carddata ");
                
            
        });
        $.getJSON('/TotalNumOfLikes', function (data) {


            var card = "<p>" + data[0].sum_val + "</p>"
            $(card).appendTo("#LikesData ");
            

        });
        $.getJSON('/TotalNumOfReplies', function (data) {


            var card = "<p>" + data[0].sum_val + "</p>"
            $(card).appendTo("#RepliesData ");


        });
        $.getJSON('/TotalNumOfRetweets', function (data) {


            var card = "<p>" + data[0].sum_val + "</p>"
            $(card).appendTo("#RetweetsData ");


        });
        $.getJSON('/TotalNumOfTweets', function (data) {


            var card = "<p>" + data + "</p>"
            $(card).appendTo("#TweetsData");


        });    

    }); 
</script>


</head>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <button id="TweetsData" type="button" class="btn btn-secondary">Total Number Of Tweets</button>
        </div>
        <div class="col-sm">
            <button id="carddata" type="button" class="btn btn-primary">Total Number Of Users</button>
        </div>
        <div class="col-sm">
            <button id="LikesData" type="button" class="btn btn-success">Total Number Of Likes</button>
        </div>
        <div class="col-sm">
            <button id="RepliesData" type="button" class="btn btn-danger">Total Number Of Replies</button>
        </div>
        <div class="col-sm">
            <button id="RetweetsData" type="button" class="btn btn-warning">Total Number Of Retweets</button>
        </div>
    </div>
</div>


<br><br><br><br>
<!-- table -->

<table  class="table" id="userdata" border="2">
    <thead>
        <th scope="row">User Name</th>
        <th scope="row">Location</th>
        <th scope="row">Tweet Link</th>

    </thead>
    <tbody>

    </tbody>
</table>

{% endblock %}